body{
    min-height: 100vh;
    background: url('images/bg_accueil.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Assure que la barre de menu est au-dessus de tout le reste */
}

.randonnees {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.randonnees h2{
    color: #ffffff;
}
  
.randonnees ul {
    list-style-type: none; 
    padding: 0;
}

.randonnees ul li {
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px; /* Pour arrondir les coins du cadre */
    background-color: rgba(255, 255, 255, 0.5); 
}


