body{
    min-height: 100vh;
    background: url('images/bg_accueil.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000; 
}

.randonnees {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.randonnees h2{
    color: #ffffff;
}
  
.randonnees ul {
    list-style-type: none; 
    padding: 0;
}

.randonnees ul li {
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.5); 
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .randonnee {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .randonnee:hover {
    transform: scale(1.02);
  }
  
  .randonnee a {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .randonnee a:hover {
    text-decoration: underline;
  }
  
  .randonnee p {
    color: #666;
    font-size: 1em;
    margin: 5px 0;
  }
  