body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.logo {
  font-size: 24px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: #555;
}

.wrapper {
  max-width: 800px;
  margin: 100px auto 20px; 
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#nom-randonnee {
  font-size: 24px;
  margin-bottom: 10px;
}

#photo-randonnee {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#description-randonnee {
  font-size: 16px;
  margin-bottom: 20px;
}
